@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html,
body {
    width: 100%;
    height: 100%;
}*/

/*body {
    background: #614385; // fallback for old browsers 
    background: -webkit-linear-gradient(
        to right,
        #516395,
        #614385
    ); // Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(
        to right,
        #516395,
        #614385
    ); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}*/

.login-container {
    width: 400px;
    height: 400px;
    background: #ededed;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.content-container {
    width: 95%;
    height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    color: #e74c3c;
    text-transform: uppercase;
}
.loginInput {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    background: none;
    color: #e74c3c;
    border: none;
    border-bottom: 1px solid #e74c3c;
    opacity: 0.5;
    transition: opacity 0.3s;
}
input:hover {
    opacity: 1;
}
input:focus {
    outline: none;
}
.frg-password {
    text-decoration: none;
    color: #e74c3c;
}
.frg-password:hover {
    color: black;
}
.frg-password:visited {
    color: #e74c3c;
}
.login-signup {
    width: 100%;
    text-align: center;
}
.login {
    width: 40%;
    height: 30px;
    border: none;
    padding: 2px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    color: #e74c3c;
    transition: background 1s, color 1s;
}
.signup {
    display: inline-block;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    color: #e74c3c;
    transition: background 1s, color 1s;
}
.login:hover {
    background: #e74c3c;
    color: #ecf0f1;
    cursor: pointer;
}
.media {
    width: 100%;
    height: 30px;
    border: none;
    margin: 5px 0;
    border-radius: 25px;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.media:hover {
    opacity: 1;
    cursor: pointer;
}
.fb {
    background: #3a5a98;
    color: white;
}
.g {
    background: #dc4437;
    color: white;
}
button:focus {
    outline: none;
}
.loader {
    text-align: center;
    position: relative;
    top: 20%;
}
