.mainHeaderTitle {
    margin-top: 5%;
    color: red;
}

.mainContainer {
    //background-color: powderblue;
    background-color: #f4f4f4;
}

// SASS variable for media query breakpoint
$breakpoint-desktop: 992px;

// Resetting default styles
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.carousel {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    //max-width: 400px;
}
// Carousel slides
.carousel__slide {
    display: none;
    list-style-type: none;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding-right: 60px;
        padding-left: 60px;
    }

    &--active {
        display: block;
    }
    img {
        max-width: 650px;
        max-height: 400px;
    }
}

// Content of slides
.carousel-slide__content {
    margin-bottom: 19px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;

    @media (max-width: $breakpoint-desktop - 1px) {
        font-size: 18px;
    }
}

.carousel-slide__author,
.carousel-slide__source {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;

    @media (min-width: $breakpoint-desktop) {
        font-size: 16px;
    }
}

.carousel-slide__source {
    font-style: italic;
    color: #888;
}

// Carousel arrows
.carousel__arrow {
    position: absolute;
    top: 50%;
    display: block;
    color: #111;
    background: transparent;
    cursor: pointer;
    opacity: 0.75;
    transform: translateY(-50%);
    //transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: 0.5;
    }

    &--left {
        //left: 32px;
        left: 20%;
    }

    &--right {
        //right: 32px;
        right: 20%;
    }
}

// Carousel indicators
.carousel__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    li {
        &:nth-of-type(n + 2) {
            margin-left: 9px;
        }
    }
}

.carousel__indicator {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #111;
    cursor: pointer;
    opacity: 0.15;
    transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
        opacity: 0.5;
    }

    &--active {
        &,
        &:hover {
            opacity: 0.75;
        }
    }
}

.facebookButtonStyle {
    position: absolute;
    padding: 4px;
    right: 7%;
    width: auto;
    font-size: 0.7em;
    color: #ffffff;
    top: 15%;
    background-color: #4359fa;
}
.logoutButtonStyle {
    position: absolute;
    padding: 4px;
    right: 2%;
    width: auto;
    font-size: 0.7em;
    color: #ffffff;
    top: 15%;
    background-color: #4359fa;
}
.loader {
    text-align: center;
    position: relative;
    margin-top: 20%;
}
.cssLoader {
    position: relative;
    margin: 0 auto;
    margin-top: 20%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #3498db; /* Blue */
    border-radius: 60%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
